
<div class="panel-vertical text-white">
	<%= form_tag "/login", method: "post" do %>
		<div class="form-group">
			
			<label for="username">Número de Ticket: </label>
			<input type="text" name="username" class="form-control" id="username">
		</div>
		<div class="form-group">

			<label for="password">Número de Identificación:</label>
			<input type="text" name="password" id="password" class="form-control"> <br>
			<span class="pull-right login-help" id="help-trigger">
			¿Necesitas ayuda?		
		</span>
		</div>

		<br>
		<% if @authentication_error %>
			<center>
				<p class="text-white"><i class="fa fa-info"></i> Datos invalidos. Por favor verifica los datos de tu entrada e intenta de nuevo.</p>
			</center>
		<% end %>
		
		<center>
			<button type="submit" class="btn btn-primary">Iniciar sesión</button>
		</center>			

	<% end %>				
</div>


<div class="modal fade" id="help_login_modal" tab_index="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" daria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4>¿Necesitas ayuda?</h4>
			</div>
			<div class="modal-body">
				<center>
					<%= image_tag "imagen_modelo.png", class: "help-img" %>
				</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
$("#help-trigger").click(function() {
	$("#help_login_modal").modal("show");
});
</script>
