
<div class="container-fluid" id="background_login">
	<div class="row full-height">
		<div class="col-md-4 col-sm-2 col-xs-1"></div>
		<div class="col-md-4 col-sm-8 col-xs-10 full-height" >
			<div id="login" class="not-full-height">
				<%= render "login_form" %>
			</div>
			<div class="social-links-container">		
				<center>
					<a href="https://www.facebook.com/events/309652089538446/" target="_blank">
						<i class="fa fa-facebook-square fa-3x social-links"  aria-hidden="true"></i>
					</a>
					<a href="https://www.instagram.com/2018withdyland/" target="_blank">
						<i class="fa fa-instagram fa-3x social-links social-links-center" aria-hidden="true"></i>
					</a>
					<a href="<%= asset_path 'snapchat_2018.jpeg'%>" target="_blank">
						<i class="fa fa-snapchat-square fa-3x social-links" aria-hidden="true"></i>
					</a>
				</center>
			</div>
		</div>
		<div class="col-md-4 col-sm-2 col-xs-1"></div>
	</div>
</div>





