
<div class="container-fluid" id="background_login">
	<div class="row full-height">
		<div class="col-md-4 col-sm-2 col-xs-1"></div>
		<div class="col-md-4 col-sm-8 col-xs-10 full-height" >
			<div id="login" class="full-height">
			<!-- esto es para la imagen, deberia estar centrada-->
				<center>
					<div class="header-login">
						<%= image_tag "logo_2018" , class: "header-img"%>
					</div>
				</center>

				<%= render "login_form" %>
				<center>
					<a href="https://www.facebook.com/events/309652089538446/" target="_blank">
						<i class="fa fa-facebook-square fa-2x social-links"  aria-hidden="true"></i>
					</a>
					<a href="#">
						<i class="fa fa-instagram fa-2x social-links" aria-hidden="true"></i>
					</a>
					<a href="#">
						<i class="fa fa-snapchat-square fa-2x social-links" aria-hidden="true"></i>
					</a>
				</center>
			</div>		
		</div>
		<div class="col-md-4 col-sm-2 col-xs-1"></div>
	</div>
</div>





