
<div class="page-header login_text">
	<center >
		<h2>2018</h2>
		<h3>Celebrating the beginning together</h3>
	</center>
</div>
<div class="row login_text">
	<div class="col-md-4 col-sm-2 col-xs-1"></div>
	<div class="col-md-4 col-sm-8 col-xs-10">
		<center>
			<p>
				Inicia sesión con los datos de tu entrada y <br><b>reserva tu mesa</b>
			</p>
		</center>
		<div class="panel panel-default panel-vertical">
			<div class="panel-body">
				<div class="login-help" id="help-trigger"> 
					¿Necesitas ayuda?
				</div>
				<%= form_tag "/login", method: "post" do %>

					<label for="username">Número de Ticket: </label>
					<input type="text" name="username" class="form-control" id="username">
					<label for="password">Número de Identificación:</label>
					<input type="text" name="password" id="password" class="form-control"> <br>

					<% if @authentication_error %>
						<p class="text-danger">Datos invalidos. Por favor verifica los datos de tu entrada e intenta de nuevo.</p>
					<% end %>

					<center>
						<button type="submit" class="btn btn-primary">Iniciar sesión</button>
					</center>
				<% end %>				
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-2 col-xs-1"></div>
</div>

<div class="modal fade" id="help_login_modal" tab_index="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" daria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4>¿Necesitas ayuda?</h4>
			</div>
			<div class="modal-body">
				<center>
					<%= image_tag "imagen_modelo.png", class: "help-img" %>
				</center>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
$("#help-trigger").click(function() {
	$("#help_login_modal").modal("show");
});
</script>
