<div class="alert alert-warning">
	<p>Tu participacion en esta mesa está siendo procesada y será confirmada lo mas antes posible. Si necesitas ayuda o más información, no dudes en contactarte al siguiente teléfono vía Whatsapp: <a href="https://api.whatsapp.com/send?phone=59168581962&text=holasanqui"><i class="fa fa-whatsapp"></i> +591 75985006</a>
	</p>
</div>